<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <h1><%= title %></h1>
  <div>
    <h2><%= user.name %></h2>
  </div>
  <a href="/users">Back to Users List</a>
  <div>
    <a href="/"><button>Home</button></a>
    <a href="/users/<%= user.id %>/update"><button>Update</button></a>
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST" style="display:inline;">
      <button type="submit">Delete</button>
    </form>
  </div>
</body>
</html>
