<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <a href="/posts">Back to posts</a>
  <div>
    <a href="/"><button>Home</button></a>
  </a>
  <a href="/posts/<%= post.id %>/update"><button>Update</button></a>
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
  </form>
  </div>
</body>
</html>